.banner-header {
  background-color: #e4e731;
  padding: 20px;
  display: flex;
  color: black;
}

.banner-header img {
  background-color: #e4e731;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.banner-header h1 {
  margin: auto;
  padding: auto;
}

.banner-header-link {
  color: black;
  direction: none;
  float: right;
  margin-top: 20px;
  font-size: 30px;
  margin-left: auto;
  margin-right: 0;
}
